/*General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  --primary-clr-100: hsl(0, 0%, 100%);
  --secondary-clr-300: hsl(358, 72%, 50%);
  --secondary-clr-400: hsl(0, 60%, 40%);
  --secondary-clr-500: hsl(0, 60%, 30%);
  --secondary-clr-900: hsl(0, 0%, 2%);
  --secondary-orange-clr: hsl(39, 92%, 52%);
  --notification-clr: hsl(39 92% 52% / .4);
  --scrollbar-clr: hsl(0 60% 40% / .8);
  --scrollbar-thumb-clr: hsl(0 80% 20% / .8);
  --scrollbar-thumb-hover-clr: hsl(0 80% 40% / .8);
  --outline: 1px solid var(--secondary-clr-400);
  --fw-bold: 900;
  --fw-normal: 500;
  --fw-light: 300;
  --typespeed: 1.5s;
}

::selection {
  background-color: var(--secondary-clr-500);
  color: var(--primary-clr-100);
}

/*custom scrollbar-works only in certain browsers */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-clr);
  border-radius: 100vw;
  margin-block: .4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-clr);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-clr);
}

body {
  background-color: var(--primary-clr-100);
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--secondary-clr-900);
  outline: 0;
}

img {
  user-select: none;
  max-width: 75%;
  border: 1px solid var(--secondary-clr-400);
  border-radius: 50%;
  margin-top: 0.3rem;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.loading {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 100%, 0.7);
  z-index: 9;
}

.loading-spinner {
  background: conic-gradient(#0000 10%, var(--secondary-clr-300));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000);
  border-radius: 50%;
  width: 5rem;
  aspect-ratio: 1;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    rotate: 1turn;
  }
}

.special-letter {
  border-bottom: 3px solid var(--secondary-clr-400);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-block {
  margin-block: 1rem;
}

.fa-arrow-circle-up {
  color: var(--secondary-orange-clr);
}

.fa-close {
  border: 2px solid var(--secondary-clr-900);
}

.fa-chevron-down {
  font-size: clamp(.6rem, 1.1vw, 1.5rem);
}

/*main content */
.color-picker>fieldset {
  border: transparent;
  display: flex;
  width: fit-content;
  gap: 2rem;
  background-color: var(--secondary-clr-400);
  padding: 1rem 3rem;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;
}

.color-picker input[type="radio"] {
  cursor: pointer;
  appearance: none;
  width: 1.2rem;
  aspect-ratio: 1;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 100vw;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

#default {
  --radio-color: var(--primary-clr-100);
}

#pink {
  --radio-color: hsl(330, 100%, 88%);
}

#blue {
  --radio-color: hsl(209, 100%, 50%);
}

#green {
  --radio-color: hsl(119, 100%, 25%);
}

#purple {
  --radio-color: hsl(279, 100%, 25%);
}

:root:has(#pink:checked) {
  --primary-clr-100: hsl(330, 50%, 90%);
  --secondary-clr-300: hsl(330, 60%, 60%);
  --secondary-clr-400: hsl(330, 60%, 40%);
  --secondary-clr-500: hsl(330, 60%, 30%);
  --secondary-clr-900: hsl(0, 0%, 2%);
  --secondary-orange-clr: hsl(330, 92%, 52%);
  --notification-clr: hsl(330 92% 52% / .3);
  --scrollbar-clr: hsl(330 60% 40% / .8);
  --scrollbar-thumb-clr: hsl(330 80% 20% / .8);
  --scrollbar-thumb-hover-clr: hsl(330 80% 40% / .8);
  --outline: 1px solid var(--secondary-clr-400);
}

:root:has(#blue:checked) {
  --primary-clr-100: hsl(209, 50%, 90%);
  --secondary-clr-300: hsl(209, 60%, 60%);
  --secondary-clr-400: hsl(209, 60%, 40%);
  --secondary-clr-500: hsl(209, 60%, 30%);
  --secondary-clr-900: hsl(0, 0%, 2%);
  --secondary-orange-clr: hsl(209, 92%, 52%);
  --notification-clr: hsl(209 92% 52% / .3);
  --scrollbar-clr: hsl(209 60% 40% / .8);
  --scrollbar-thumb-clr: hsl(209 80% 20% / .8);
  --scrollbar-thumb-hover-clr: hsl(209 80% 40% / .8);
  --outline: 1px solid var(--secondary-clr-400);
}

:root:has(#green:checked) {
  --primary-clr-100: hsl(119, 50%, 90%);
  --secondary-clr-300: hsl(119, 60%, 60%);
  --secondary-clr-400: hsl(119, 60%, 40%);
  --secondary-clr-500: hsl(119, 60%, 30%);
  --secondary-clr-900: hsl(0, 0%, 2%);
  --secondary-orange-clr: hsl(119, 92%, 52%);
  --notification-clr: hsl(119 92% 52% / .3);
  --scrollbar-clr: hsl(119 60% 40% / .8);
  --scrollbar-thumb-clr: hsl(119 80% 20% / .8);
  --scrollbar-thumb-hover-clr: hsl(119 80% 30% / .8);
  --outline: 1px solid var(--secondary-clr-400);
}

:root:has(#purple:checked) {
  --primary-clr-100: hsl(279, 50%, 90%);
  --secondary-clr-300: hsl(279, 60%, 60%);
  --secondary-clr-400: hsl(279, 60%, 40%);
  --secondary-clr-500: hsl(279, 60%, 30%);
  --secondary-clr-900: hsl(0, 0%, 2%);
  --secondary-orange-clr: hsl(279, 92%, 52%);
  --notification-clr: hsl(279 92% 52% / .3);
  --scrollbar-clr: hsl(279 60% 40% / .8);
  --scrollbar-thumb-clr: hsl(279 80% 20% / .8);
  --scrollbar-thumb-hover-clr: hsl(279 80% 40% / .8);
  --outline: 1px solid var(--secondary-clr-400);
}

.notification {
  background-color: var(--notification-clr);
  color: var(--secondary-clr-900);
  padding: .5rem;
  position: relative;
  --mask:
    conic-gradient(from 145deg at top, #0000, #000 1deg 69deg, #0000 70deg) top/8.00px 51% repeat-x,
    conic-gradient(from -35deg at bottom, #0000, #000 1deg 69deg, #0000 70deg) bottom/8.00px 51% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);

}

.notification h2 {
  font-size: clamp(.9rem, 1.5vw, 1.8rem);
  margin-bottom: .3rem;
}

.glow-on-hover {
  padding: .4rem;
  border: none;
  outline: none;
  background-color: var(--secondary-orange-clr);
  cursor: pointer;
  position: relative;
  animation: glowing 20s linear infinite;
  z-index: 0;
  font-size: clamp(.9rem, 1.3vw, 1.8rem);
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, var(--secondary-orange-clr), #ff7300, #fffb00, var(--secondary-clr-400), #00ffd5, #002bff, var(--primary-clr-100), #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  inset: 0;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.glow-on-hover:where(:hover, :focus-visible):before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.close-btn {
  position: absolute;
  inset: 0.5rem 0.3rem auto auto;
  cursor: pointer;
  background-color: var(--secondary-clr-400);
  color: var(--primary-clr-100);
  font-size: clamp(.8rem, 1.2vw, 1.4rem);
  transition: .3s;
  padding: .3rem;
  border: transparent;
}

.close-btn:where(:hover, :focus-visible) {
  background-color: var(--secondary-clr-500);
  color: var(--primary-clr-100);
  outline: 2px solid var(--secondary-clr-900);
}

/*Filter/Sort form */
.filter-form {
  gap: 0.5rem;
  justify-content: end;
  margin-right: 1rem;
  font-size: 1.1rem;
}

select {
  font-size: 1.1rem;
  border-radius: 100vw;
}

/*Newsletter */
.email-form {
  padding: 1rem;
  gap: 3rem;
  background-color: var(--primary-clr-100);
  outline: var(--outline);
}

.subscribe {
  font-size: clamp(1.4rem, 1.8vw, 2.5rem);
  font-weight: var(--fw-normal);
  background-image: conic-gradient(from 90deg at 40% -25%, #ff6e06, #d76f0d, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03);
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chatbot {
  background: linear-gradient(235deg, var(--notification-clr) 60%, var(--secondary-clr-500) 100%);
  padding-block: 1rem;
  --mask: radial-gradient(15px at 50% 15px, #0000 97%, #000) 50% -15px/ 27.75px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.chatbot h2,
.easter-egg-info h2 {
  font-size: clamp(1.4rem, 2vw, 3rem);
}

.container {
  gap: clamp(1rem, 3vw, 3rem);
  margin-inline: clamp(1rem, 2vw, 2rem);
  text-align: left;
}

.bot-img {
  width: clamp(20rem, 25%, 30vw);
  margin-bottom: 1rem;
  border: none;
  border-radius: 0;
}

.chatbot-descr,
.easter-egg-info p {
  font-size: clamp(1rem, 1.35vw, 1.6rem);
}

.easter-egg-section {
  position: relative;
  gap: 1rem;
  margin-top: 1rem;
  padding-block: 2rem;
  background-color: var(--secondary-clr-400);
  color: var(--primary-clr-100);
  --mask:
    radial-gradient(52.57px at 50% 71.25px, #000 99%, #0000 101%) calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(52.57px at 50% -46.25px, #0000 99%, #000 101%) 50% 25px/100px calc(51% - 25px) repeat-x,
    radial-gradient(52.57px at 50% calc(100% - 71.25px), #000 99%, #0000 101%) calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(52.57px at 50% calc(100% + 46.25px), #0000 99%, #000 101%) 50% calc(100% - 25px)/100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.easter-egg-section * {
  margin-inline: 1rem;
}

.easter-egg-info {
  border-inline: 4px solid var(--secondary-orange-clr);
}

.easter-egg-info h2 {
  margin-block: .5rem;
}

.easter-egg-info>p {
  max-width: 80ch;
  margin-bottom: 1rem;
}

.easter-egg-form {
  flex-direction: column;
  gap: 1rem;
}

#inputValue {
  width: clamp(18rem, 30vw, 100%);
}

.newsletter-btn:is(:hover, :focus-visible) {
  background-color: var(--primary-clr-100);
  color: var(--secondary-clr-900);
}

#hintButton {
  padding: .5rem 1rem;
  background-color: var(--secondary-orange-clr);
  color: var(--secondary-clr-900);
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

#hintContainer {
  position: absolute;
  top: 2rem;
  right: 1rem;
  background-color: var(--secondary-orange-clr);
  color: var(--secondary-clr-900);
  padding-inline: .2rem;
  max-width: 25%;
}

.fa-close {
  cursor: pointer;
}

footer {
  background-color: var(--secondary-clr-300);
  color: var(--primary-clr-100);
  font-weight: var(--fw-normal);
  padding: 1.5rem;
  border-radius: 100vw;
}

/*Shooping section */
.shopping-page {
  display: none;
}

.shopping-list,
.shopping-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shopping-item {
  width: clamp(10.8rem, 25vw, 50%);
}

.shopping-buttons {
  gap: 3rem;
}

.shopping-buttons button {
  background-color: var(--secondary-clr-400);
  border: none;
  color: var(--primary-clr-100);
  padding: 0.7rem;
  cursor: pointer;
  transition: .3s;
}

.shopping-buttons button:hover {
  background-color: var(--secondary-clr-300);
}

.disclaimer {
  margin-top: 1rem;
  font-size: clamp(.8rem, 1vw, 1.3rem);
  max-width: 60ch;
  margin-inline: auto;
}

@media (width < 800px) {
  .filter-form {
    width: 50%;
    margin-inline: auto;
    align-items: unset;
    flex-direction: column;
  }

  button[type="submit"].apply {
    align-self: center;
  }

  .notification h2 {
    margin-top: 1.5rem;
  }

  .show {
    transition-delay: 0s;
  }

  .container,
  .easter-egg-section {
    flex-direction: column;
  }

  .easter-egg-info {
    border-block-end: 4px solid var(--secondary-orange-clr);
  }

  .email-form {
    flex-direction: column;
    gap: 1rem;
    align-items: unset;
  }

  #hintContainer {
    max-width: 100%;
    margin-inline: 1rem;
    right: 0;
  }
}

@media (width <500px) {
  .disclaimer {
    margin-inline: 2rem;
  }
}

.trail {
  position: fixed;
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 100vw;
  pointer-events: none;
  background-color: var(--secondary-orange-clr);
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 999;
  inset: 0;
}

#compare-container {
  display: none;
}

#compare-container.visible {
  display: block;
}

#compare-container h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

#compare-list {
  list-style-type: none;
  padding: 0;
  display: flex;

}

#compare-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

#compare-list li img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#clear-compare {
  margin-top: 10px;
}

#account-link {
  display: none;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 400px;
  height: 300px;
}

.carousel-item {
  width: 400px;
  height: 300px;
}

#prevBtn,
#nextBtn {
  margin: 10px;
}